/* Events Calendar Widget */
.events-calendar-widget table.nav-days { margin-bottom:0; }
.events-calendar-widget table.nav-months { table-layout: fixed; }
.events-calendar-widget table.nav-months tbody td { background: none; }
.events-calendar-widget .nav-months a:hover, .events-calendar-widget .nav-months a:active, .events-calendar-widget .nav-months a:focus { outline: 0; border: 0; background: none; }
.events-calendar-widget table .prev-month { text-align:left; }
.events-calendar-widget table .next-month { text-align:right; }
.events-calendar-widget td.ajax-spinner div {
	display: none;
	position: relative;
	background: url('../../../../wp-admin/images/wpspin_light.gif') no-repeat;
	background-size: 16px 16px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
}

/* Events Google Map */
#event-google-map { width: 100%; height: 300px; margin: 20px 0; }
#event-google-map .location-tooltip {
	display: none;
	width: 100%;
	height: auto;
	position: absolute;
	left: -9999px;
	top: -9999px;
	padding: 4px 7px;
	background: #FFF;
	z-index: 0;
	opacity: 1;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	line-height: 17px;
	font-size: 12px;
	text-align: center;
	word-wrap: break-word;
}

.single-event .entry-content { clear: both; }
.single-event .entry-header, .archive-header { font-size: 1.2em; }